* {
  box-sizing: border-box;
}
body{
  background: #f3f5fc;
}
/*------------ estilos del header ------------*/
.header {
  width: 99vw;
  height: 5rem;
  display: flex;
  align-items: center;
}
.logo {
  height: 2rem;
  width: 1rem;
  text-align: center;
  margin-left: 1rem;
}
/*------------ estilos del main ------------*/
.main {
  width: 100%;
}
.contain {
  width: 90%;
  margin: 0 auto 2rem;
}
.contain-text-encriptar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.insert-text {
  max-width: 100%;
  
  min-height: 50vh;
  margin: 1.5rem auto;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background: none;
  font-size: 1.8rem;
  color: #0a3871;
  &:focus{

    outline: 1px solid #46608177;
  }
}

.info-text {
  width: 100%;
  display: flex;
  align-items: center;
  color: #67808e;
}
.contain-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* ------------Estilos para todos los botones ---------- */
button {
  height: 4rem;
  width: 100%;
  max-width: 22rem;
  background: #fff;
  border: 1px solid #0a3871;
  border-radius: 1rem;
  font-size: 1rem;
  &:active{
    background: #204a7d;
  }
}
.btn-encriptar {
  background: #0a3871;
  color: #fff;
}
.btn-desencriptar  {
  color: #0a3871;
  &:active{
    background: #1130558c;
    color: #fff;
  }
}
.contain-desencriptado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contain-text-desencriptado {
  width: 90%;
  margin: 1.5rem 0;
  padding: 1.5rem;
  background: #fff;
  /* border: 1px solid #67808e; */
  border-radius: 1.5rem;
  box-shadow: 0 2rem 2rem -8px #0000002c ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.container-img {
  display: none;
}
.text-desencriptado {
  color: #67808e;
  font-size: 1.2rem;
  text-align: center;
  span{
    font-weight: bold;
    font-size: 1.4rem;
  }
}
.btn-copy-desencriptado{
  display: none;
}
.active{
  display: none;
}
.contain-desencriptado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}.contain-desencriptado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------ ESTILOS PARA TABLED  ---------- */

@media screen and (min-width: 760px){
  .contain-btn {
  flex-direction: row;
  justify-content: center;
}
  .contain-text-encriptar {
  margin: 3rem 0;
  }
}



/* ------------ ESTILOS PARA PC ---------- */
@media screen and (min-width:1440px) {
  .contain{
    display: flex;
    justify-content:flex-end;
  }
  .container-img{
    display: inline-block;
  }
  .contain-text-encriptar{
    width: 60%;
  }
  .contain-info-text{
    width: 90%;
    margin: 0 auto;
  }
  .insert-text{
    max-width: 90%;
    max-height: 33rem;
  }
  .contain-desencriptado{
    width: 25%;
    height: 85vh;
  } 
  .contain-text-desencriptado{
    height: 100%;
  }
  .container-img svg{
    width: 100%;
  }
}